<mat-toolbar color="primary">
  <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <a class="logo-link" routerLink="/"><mat-icon>task_alt</mat-icon> GWO - Recruitment task</a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Regions</mat-toolbar>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item *ngFor="let region of regions" [routerLink]="['/region/', region.code]">
        {{region.name}}
      </a>
      <a role="button" mat-list-item (click)="onOpenDialog()">About me</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
