<div class="mt-5 mat-elevation-z8 p-3 w-100">
  <ng-container *ngIf="!(countryDetails$ | async)">
    <div class="w-100 d-flex flex-column align-items-center justify-content-center m-auto p-5">
      <mat-icon color="warn">warning</mat-icon>
      Country not found
    </div>
  </ng-container>
  <ng-container *ngIf="countryDetails$ | async as countryDetails">
    <span class="h2 d-block">{{countryDetails.name}} Details</span>
    <div class="d-flex justify-content-start mt-2">
      <img class="national-flag" alt="National flag" [src]="countryDetails.flag"/>

      <div class="d-flex flex-column justify-content-start pl-4">
        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Capital:</span> {{countryDetails.capital}}
        </div>

        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Alpha code:</span> {{countryDetails.alpha2Code}}
        </div>

        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Region:</span> {{countryDetails.region}} ({{countryDetails.subregion}})
        </div>

        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Population:</span> {{countryDetails.population}}
        </div>

        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Area:</span> {{countryDetails.area}}
        </div>

        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Currencies:</span>
          <ul class="country-details-list">
            <li *ngFor="let currency of countryDetails.currencies">
              {{currency.code}}: {{currency.name}} ({{currency.symbol}})
            </li>
          </ul>
        </div>

        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Languages:</span>
          <ul class="country-details-list">
            <li *ngFor="let language of countryDetails.languages">
              {{language.name}} - {{language.nativeName}}
            </li>
          </ul>
        </div>

        <div class="d-inline-block w-100">
          <span class="bolded d-inline">Alternative spellings:</span>
          <ul class="country-details-list">
            <li *ngFor="let spelling of countryDetails.altSpellings">
              {{spelling}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pt-3">
      <a mat-raised-button [routerLink]="['/', countryDetails.region ]">Back to list</a>
    </div>
  </ng-container>
</div>
