<div class="mt-5 mat-elevation-z8 p-3">
  <h1>Countries app</h1>

  <span>An application created for the purposes of recruitment.</span>

  <div class="text-container">
    <ul>
      <li><span class="bolded">View 0:</span> The list of regions is presented in the form of a side menu. It is available for any view.</li>
      <li><span class="bolded">View 1:</span> The list of views has been prepared in the form of a table. A single record of the table contains the flag of the country, its name and a link to go to view 2 for the country.</li>
      <li><span class="bolded">View 2:</span> Provides some information about the country and shows an image of its flag. Contains a button to return to the list of the region of a given country.</li>
      <li><span class="bolded">About me:</span> the last item in the list launches an author info dialog.</li>
      <li><span class="bolded">Logo:</span> Toolbar text redirects to 'credits' page.</li>
    </ul>
  </div>

  <span>The application uses Angular, NgRx and Material </span>
</div>
